<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../assets/LogoPrincipal.png" width="40px" height="40px" alt="logo de la Universidad Tecnológica de Aguascalientes">
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <h2>Universidad Tecnológica de Aguascalientes</h2>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto position-relative">
        <p style="padding-left: 3rem;" class="position-absolute">Cristian Omar Puentes Diaz</p>
        <li class="nav-item" style="margin-top: 1rem;">
          <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="12" cy="12" r="9" />
            <line x1="12" y1="17" x2="12" y2="17.01" />
            <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
          </svg>Soporte Técnico</a>
        </li>
        <li class="nav-item" style="margin-top: 1rem;">
          <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
            <path d="M7 12h14l-3 -3m0 6l3 -3" />
          </svg>Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky ">
        <ul class="nav flex-column">

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Alumnos</a>
            <ul class="dropdown-menu dropdown-menu-light">

              <li>
                <a href="#" class="dropdown-item">Adeudos&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Pagos y Colegiaturas</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#" class="dropdown-item">Consultas&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Historial</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown-item">Reporte de Pagos en Banco y Caja</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown-item">Datos de Estadia</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown-item">Deporte y Cultura</a>
                  </li>

                  <li>
                    <a href="#" class="dropdown-item">Titulo XML</a>
                  </li>


                </ul>
              </li>

              <li>
                <a href="#" class="dropdown-item">Datos Personales&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Datos Personales</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#" class="dropdown-item">Encuestas&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Evaluacion de Docentes</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Evaluacion de Tutor</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Evaluacion de Servicios a el Estudiante</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Evaluacion de Docentes (Segunda Etapa)</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Estudio Socioeconimico</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Evaluacion de Orientador</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Evaluacion de Director</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#" class="dropdown-item">Reinscripciones&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Estatus para la REINSCRIPCION</a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Becas</a>
            <ul class="dropdown-menu dropdown-menu-light">

              <li>
                <a href="#" class="dropdown-item">Proceso&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Solicitud BECAS</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Buzon</a>
            <ul class="dropdown-menu dropdown-menu-light">

              <li>
                <a href="#" class="dropdown-item">Buzon&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Quejas y Sugerencias</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Estadias</a>
            <ul class="dropdown-menu dropdown-menu-light">

              <li>
                <a href="#" class="dropdown-item">Procesos&raquo;</a>
                <ul class="dropdown-menu submenu dropdown-menu-light">
                  <li>
                    <a href="#" class="dropdown-item">Proyectos Disponibles</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>


        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h1 style="text-align: center;">Servicios de forma directa</h1>
      <hr>
      <h5 style="text-align: center;">Generales</h5>

      <div class="row">
        <div class="col">

          <div class="card" style="width: 12rem;">
            <img src="../assets/portada_sito_reinscripcion.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Reinscripcion</h5>
              <a href="#" class="btn btn-primary boton-custom">Acceder</a>
            </div>
          </div>

        </div>

        <div class="col">


          <div class="card" style="width: 12rem;">
            <img src="../assets/portada_sito_intercuatrimestrales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Intercuatrimestrales</h5>
              <a href="#" class="btn btn-primary boton-custom">Acceder</a>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card" style="width: 12rem;">
            <img src="../assets/portada_sito_pagos.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pagos</h5>
              <a href="#" class="btn btn-primary boton-custom">Acceder</a>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card" style="width: 12rem;">
            <img src="../assets/micro.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Microsito</h5>
              <a href="#" class="btn btn-primary boton-custom">Acceder</a>
            </div>
          </div>

          </div>
        </div>

        <hr>
        <h5 style="text-align: center;">Servicios Escolares</h5>

        <div class="row">

          <div class="col">
            <div class="card" style="width: 12rem;">
              <img src="../assets/portada_sito_becas.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Becas</h5>
                <a href="#" class="btn btn-primary boton-custom">Acceder</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 12rem;">
              <img src="../assets/portada_sito_documentos.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Documentos</h5>
                <a href="#" class="btn btn-primary boton-custom">Acceder</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 12rem;">
              <img src="../assets/imss.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hoja de Vigencia</h5>
                <a href="#" class="btn btn-primary boton-custom">Acceder</a>
              </div>
            </div>
          </div>

        </div>

    </main>
  </div>
</div>


